<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<div class="container">
  <div class="row">
  <table class="table table-hover table-warning">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile no</th>
        <th>Address</th>
        <th>Desciption</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of new">
      <td>{{x.username}}</td>
      <td>{{x.mobile}}</td>
      <td>{{x.address}}</td>
      <td>{{x.description}}</td>
      <td>{{x.date}}</td>
      <td>{{x.status}}</td>
      <td  style="color:green"> <a (click)="approve(x.username)">Approve</a></td>
      <td  style="color:red"> <a (click)="reject(x.username)">Reject</a></td>
      </tr>
      </tbody>
    </table>




  <table class="table table-hover table-success	">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile no</th>
        <th>Address</th>
        <th>Desciption</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of app">
        <td>{{x.username}}</td>
        <td>{{x.mobile}}</td>
        <td>{{x.address}}</td>
        <td>{{x.description}}</td>
        <td>{{x.date}}</td>
        <td>{{x.status}}</td>
      </tr>
      </tbody>
    </table>



    <table class="table table-hover table-light	">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mobile no</th>
          <th>Address</th>
          <th>Desciption</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of reject1">
          <td>{{x.username}}</td>
          <td>{{x.mobile}}</td>
          <td>{{x.address}}</td>
          <td>{{x.description}}</td>
          <td>{{x.date}}</td>
          <td>{{x.status}}</td>
        </tr>
        </tbody>
      </table>
</div>
</div>
