<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="mob">
    <div class="container">
    	<div class="row">
	            <div class="history_wrap">
	                    <div class="history_list" *ngFor="let x of history">
	                        <div class="history_item_name">
	                           <span class="item"></span>
	                             <span class="item">Readymade CHUDIDHAR 002</span>
	                               <span class="item">Kasturta pattu Saree 9761</span>
	                                 <span class="item">Deisgner Saree 129</span>
	                        </div>
	                        <div class="history_rate">
	                            <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                             <span class="rate">
	                                12000.00
	                            </span>
	                        </div>
	                        <div class="history_status">
	                            <span class="label label-success">Completed</span>
	                            <span class="history_total"><b>Total :</b>10000</span>
	                        </div>
	                    </div>


	        	</div>
        </div>
    </div>
</div>
